/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.04.2020, 11:28:09
    Author     : Andrei Oleniuc
*/


.menu {
    -fx-background-image: url("../CasinoIMG/Background.png"); 
    -fx-background-position: center center;
    -fx-background-size: cover;
}


.button {
	-fx-background-color:  transparent;
	-fx-border-color: white;
	-fx-border-radius: 50;
}
