/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.04.2020, 11:28:09
    Author     : Andrei Oleniuc
*/


.menu{
    /*-fx-background-image: url(/ch.bbbaden.CasinoIMG/BlackJack.png);  
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 700 500;*/
}
