/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.04.2020, 11:28:09
    Author     : Denis Silva Meira
*/
.button {
    -fx-font-weight: bold;
}
.root{
    -fx-background-image: url(Casino_Roulette/src/main/ressources/Images/Trysumthing.png);
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
